.board-row::after{
  clear: both;
  content: " ";
  display: table;
}

ol, ul{
  padding-left: 30px; 
}


.cell {
  background: rgb(179, 156, 156);
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 54px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.cell:focus{
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game{
  padding: 10px;
  margin: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.game-board{
  display: flex;
  justify-content: center;
}