.board-row::after{
  clear: both;
  content: " ";
  display: table;
}

ol, ul{
  padding-left: 30px; 
}


.cell {
  float: left;
  padding: 0;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  background: rgb(155, 136, 101);
  border: 2px solid rgb(0, 0, 0);  
  font-weight: bold;
  line-height: 32px;
  height: 54px;
  margin-right: 0px;
  margin-top: 0px;
  width: 54px;  
  outline: none;
  border-radius: 4px;
}

.cell:hover{background-color: #556a56;}

.cell:active{
  background-color: #293e20;
  box-shadow: 0 1px #666;
  /* transform: translateY(1px); */
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game{
  padding: 10px;
  margin: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.game-board{
  display: flex;
  justify-content: center;
}